{{template "base" .}} {{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Search for Availability</h1>

            <form
                action="reservation.html"
                method="post"
                novalidate
                class="needs-validation"
            >
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{.CSRFToken}}"
                />
                <div class="row">
                    <div class="col">
                        <div
                            class="row"
                            id="reservation-dates"
                        >
                            <div class="col-md-6">
                                <input
                                    required
                                    class="form-control"
                                    type="text"
                                    name="start_date"
                                    id="start_date"
                                    placeholder="Arrival"
                                />
                            </div>
                            <div class="col-md-6">
                                <input
                                    required
                                    class="form-control"
                                    type="text"
                                    name="end_date"
                                    id="end_date"
                                    placeholder="Departure"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <button
                    type="submit"
                    class="btn btn-primary"
                >
                    Search Availability
                </button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p id="text-id">This is some text</p>
            <button
                id="colorButton"
                class="btn btn-secondary"
            >
                Click Me
            </button>
        </div>
    </div>
</div>
{{end}} {{ define "js"}}

<script>
    const elem = document.getElementById(
        "reservation-dates",
    );
    const rangepicker = new DateRangePicker(elem, {
        format: "dd-mm-yyyy",
    });
</script>
{{end}}
